html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: auto;
}

/*                  header              */

header {
    background-color: rgb(58, 84, 58);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 20px;
}

.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

nav ul li {
    padding: 8px 0;
}

nav {
    text-align: right;
    color: white;
}

/*        HERO SECTION        */
.hero {
    text-align: center;
    background-image: url('images/PORTFOLIO\ 1.jpg');
    background-image: url('images/BG.jpg');
    background-size: 100% 100%;
    overflow: auto;


}

.hero h1 {
    font-size: 3rem;
    padding: 50px 50px 0px 50px;
    color: rgb(128, 41, 3);
}

.hero h2 {
    padding: 0px 40px;
    color: rgb(20, 49, 16);
}

.hero p {
    padding: 10px 20px;
    color: rgb(113, 74, 16);
}

.hero a {
    width: 200px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: orangered;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

/*      SERVICES SECTION     */

.services {
    background-color: rgb(141, 180, 141);
    text-align: center;
    overflow: auto;
}

.services h2 {
    color: rgb(20, 49, 16);
}

.services h3 {
    font-size: 2rem;
    padding: 0 70px;
    color: rgb(130, 32, 32);
}

.services h4 {
    font-size: 1.5rem;
    color: rgb(142, 57, 57);
}

.services p {
    padding: 8px 100px;
    color: rgb(121, 80, 18);
}

/*        portfolio section      */
.Portfolio {
    background-color: rgb(141, 180, 141);
    text-align: center;
}

.photos {

    text-align: center;
}

.photos img {
    object-fit: cover;
}

.Portfolio h2 {
    color: rgb(74, 33, 33);
}

.Portfolio h3 {
    color: rgb(102, 75, 43);
    padding: 10px 50px;
    font-size: 2rem;
}

.Portfolio a {
    width: 200px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: orangered;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

@media only screen and (min-width: 1200px) {

    nav .toggle {
        display: none;
    }

    nav ul {
        display: flex;
        flex-direction: row;
    }
}