html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    margin: auto;
}

.width {
    max-width: 1275px;
    margin: auto;
}

/*  fonts,sizes and colors  */
h1 {
    color: rgb(68, 28, 2);
    font-size: 3rem;
    font-family: 'Ubuntu', sans-serif;
}

h2 {
    color: #492902;
    font-family: 'Ubuntu', sans-serif;
}

h3 {
    color: #423a04;
    font-family: 'Ubuntu', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    color: #2a1f13;
}

/*                  header              */

header {
    background-color: rgb(58, 84, 58);
    padding: 20px;
}

.header-items {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.show-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: none;
}

nav ul li {
    padding: 8px 0;
}

nav {
    text-align: right;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    text-decoration: uppercase;
    font-family: 'Ubuntu', sans-serif;
}

/*        HERO SECTION        */
.hero {
    text-align: center;
    background-color: #9db4ab;
    background-size: 100% 100%;
}

.BG {
    background-image: url('images/BG.jpg');
    overflow: auto;

}

.hero h1 {
    color: #af3509;
    padding: 50px 50px 0px 50px;
}

.hero h2 {
    margin-top: 50px;
    padding: 0px 40px;
}

.hero p {
    padding: 10px 100px;
    margin-top: 80px;
    color: #042809;
}

.hero a {
    width: 200px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: orangered;
    color: rgb(251, 248, 248);
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-family: 'Ubuntu', sans-serif;
}

.hero a:hover {
    background-color: rgba(73, 42, 146, 0.3);
    color: #033c0f;

}

/*      SERVICES SECTION     */

.services {
    background-color: rgb(141, 180, 141);
    text-align: center;
    overflow: auto;
}


.services h3 {
    font-size: 2rem;
    padding: 0 70px;
}

.services h4 {
    font-size: 1.5rem;
}

.services p {
    padding: 8px 100px;
}

/*        portfolio section      */
.Portfolio {
    background-color: rgb(169, 223, 169);
    text-align: center;
    overflow: auto;
}

.photos {

    text-align: center;
}

.photos img {
    object-fit: cover;
}


.Portfolio h3 {
    padding: 10px 50px;
}

.Portfolio a {
    width: 200px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

/*          call to action section        */
.CTA {
    text-align: center;
    padding: 30px;
    background-color: rgb(141, 180, 141);
}

.CTA p {
    padding: 0px 50px;
}

.CTA a {
    width: 200px;
    margin: 50px;
    border-radius: 5px;
    padding: 10px 30px;
    background-color: orangered;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
}

/*    style for form   */

input[type="reset"] {
    color: #0e7a0d;
    padding: 12px 20px;
    border: 1px solid #0e7a0d;
    border-radius: 4px;
    cursor: pointer;
}

input[type="reset"]:hover {
    background-color: #d1efe3;
}

input[type="submit"] {
    background-color: #0e7a0d;
    color: white;
    padding: 12px 20px;
    border: 1px solid #0e7a0d;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #00ab66;
}

.wrapper-form {
    text-align: initial;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 500px;
    margin: 0 auto;
    overflow: auto;
}

.wrapper-button {
    display: flex;
    justify-content: space-between;
}

/*                 FORM CONTROLS                        */

input,
select,
textarea {
    font-size: 1em;
}

input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type="email"] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;

}

textarea {
    font-family: sans-serif;
}



.label-required {
    font-size: 0.8rem;
    color: red;
}

input:required {
    border: 1px solid red;
}

/*     FOOTER      */
.footer {
    background-color: rgb(58, 84, 58);
    padding: 30px 50px;
    text-align: center;
}

.footer1 {
    margin-left: 20px;
}

.footer1 p {
    color: white;
    padding: 10px;
}

.list-name {
    padding-right: 20px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color: white;
}

.list {

    border-right: solid 1px #424b5a;
    margin: 0 10px;
}


.items {
    padding-right: 30px;
    display: inline;
    margin-block: 0;
    padding-inline-start: 0;
    line-height: 30px;
    color: white;
    list-style-type: none;
    font-family: 'Ubuntu', sans-serif;
}


.term-con {
    background-color: rgb(95, 125, 95);
    font-size: 1.4rem;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
    border-top: 0.05px solid black;
    text-align: center;
}

.Disclaimer p {
    color: rgb(79, 3, 3);
}


/*-------------- PORTFOLIO PAGE---------------*/
/*     portfolio section   */
.full-portfolio {
    text-align: center;
    background-color: rgb(141, 180, 141);
    overflow: auto;

}

.image img {
    width: 100%;
}

.icon {
    padding: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icon p {
    padding: 0px 15px;
    color: rgb(18, 5, 5);
}

/*     reviews section     */
figcaption {
    padding: 0px 60px;
    font-family: 'Roboto', sans-serif;
}

.reviews {
    overflow: auto;
    background-color: rgb(169, 223, 169);
    object-fit: cover;
}

.reviews iframe {
    padding: 30px;
}

/*---------- CONTACT US PAGE ----------*/
/*    contact section   */
.contact {
    padding: 50px;
    background-color: rgb(141, 180, 141);
    text-align: center;
}

.contact ul {
    display: flex;
    list-style: none;

}

.contact li {
    padding: 25px;
}

table {
    margin-left: 50px;
    width: 50%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 2px solid #333;
    transition: background-color 0.3s ease;
    font-family: 'Ubuntu', sans-serif;
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #d97b7b;
    cursor: pointer;
}

th {
    background-color: #93c4ae;
    border-right: 2px solid #333;
}

td {
    background-color: #93c4ae;
}

th:hover {
    background-color: #8d7c7c;
}

.location iframe {
    width: 100%;
}


@media only screen and (min-width: 1200px) {


    nav .toggle {
        display: none;
    }

    .header-items {
        display: flex;
        flex-direction: row;
    }

    nav ul {
        display: flex;
        flex-direction: row;
        padding: 20px;
        gap: 50px;
    }

    nav a {
        text-decoration: none;
        color: white;
        font-size: 2rem;
    }

    /*  HERO  8    */
    .hero {
        background-image: cover;
    }

    .hero h1 {
        padding: 30px 70px;
        font-size: 3rem;
    }

    .hero p {
        font-size: 2rem;
    }

    /*           servicers              */
    .container {
        display: flex;
        flex-direction: row;
    }

    .content {
        display: flex;
        align-items: center;
        flex-direction: column;

    }

    /*     portfolio    */
    .content2 {
        display: flex;
    }

    .photos {
        display: flex;
        justify-content: center;
    }

    /*        cta section    */
    .call-to-action {
        display: flex;
        justify-content: row;
    }

    .content3 {
        margin-top: 150px;
    }

    /*      footer     */
    .footer-items {

        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    .footer1 {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
    }

    .footer1 p {
        width: 50ch;
    }

    .footer-list {
        display: flex;
    }

    .term {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    /*-------- PORTFOLIO PAGE ---------*/

    .contentportfolio {
        display: flex;
    }

    .contentportfolio h2 {
        font-size: 3rem;
    }

    .contentportfolio h3 {
        padding: 30px;
    }

    .image {
        display: flex;
    }

    /*   reviews section   */

    .contentreviews {
        display: flex;
    }

    .contentreviews h2 {
        font-size: 3rem;
        padding: 55px;
    }

    .contentreviews h3 {
        padding: 50px;
    }

    /*-----------contact page-----------*/
    /*    contact section    */
    .tables {
        display: flex;
        align-items: center;
    }

    table {
        padding: 10px;
    }

    .contact-content {
        margin-left: 290px;
        display: flex;
    }

    .contact ul {
        margin-left: 440px;
    }

    /*     loaction    */
    .location {
        padding: 50px;
    }
}